body{
    margin: 0%;
    font-family:'PT Sans',sans-serif;
}
nav{
    background-color: rgb(24, 24, 24);
    padding: 10px 20px; 
}
a{
    text-decoration: none;
    color: rgb(214, 214, 214);
}
nav a{
    padding: 10px 30px;
    color: rgb(255, 255, 255);
}
nav a:hover{
    background-color: rgb(41, 39, 39);
}
nav a:active{
    background-color: rgb(59, 58, 58);
}
#showcase{
    background: url('Project3.1.png') no-repeat center/cover;
    height: 100vh;
}
.content{
        line-height: 1.6;
        margin: 110px 50px;
        text-align: center;
        color: rgb(238, 236, 236);
}
h1{
    font-size: 2.5rem;
}
.footer footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 2rem;
    background-color: rgb(24, 24, 24);
    text-align: left;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.footer footer ul{
    list-style: none;
}
.footer footer ul li:first-child{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(79, 82, 85);
    margin-bottom: 0.5rem;
}
.footer footer ul li a:hover{
    color: rgb(119, 236, 236);
}
.footer footer ul li a:active{
    color: rgb(0, 47, 255);
}
.copyright{
    background-color: rgb(32, 32, 32);
    padding: 1px;
    color: rgb(138, 166, 167);
    text-align: center;
}
